body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

h1, h2 {
    color: black;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 40px;
    border-bottom: red;
    border-bottom: solid;
}

p { 
    font-size: 20px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.PacMenexercise{
    text-align: center;
    font-size: 30px;
}

.Eyesexercise{
    text-align: center;
    font-size: 30px;
}
